<div class="bottom">
    <ul data-v-5915f69c="" class="glide__slides pointer-events-auto" style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 574px; transform: translate3d(9px, 0px, 0px);">
        <li data-v-5915f69c="" class="glide__slide glide__slide--active" style="width: 106.8px; margin-right: 5px;">
    
            <div class="kk">
                <div class="dt">
                <img src="../../assets/images/BTP/icons8-user-48.png">
                </div>
                <div class="msgd">Profile</div>
                
                
                </div>
                
           
    </li>
    
    <li data-v-5915f69c="" class="glide__slide glide__slide--active" style="width: 106.8px; margin-right: 5px;">
    
        <div class="kk">
            <div class="dt">
            <img src="../../assets/images/BTP/icons8-new-message-48.png">
            </div>
            <div class="msg">Messages</div>
            
            
            </div>
            
       
    </li>
    
    <li data-v-5915f69c="" class="glide__slide glide__slide--active" style="width: 106.8px; margin-right: 5px;">
    
        <div class="kk">
            <div class="dt">
            <img src="../../assets/images/BTP/icons8-expensive-price-48.png">
            </div>
            <div class="msgd">Devis</div>
            
            
            </div>
            
       
    </li>
    
    <li data-v-5915f69c="" class="glide__slide glide__slide--active" style="width: 106.8px; margin-right: 5px;">
    
        <div class="kk">
            <div class="dt">
            <img src="../../assets/images/BTP/icons8-city-buildings-48.png">
            </div>
            <div class="msgd">Projet</div>
            
            
            </div>
            
       
    </li>
    
    
    <li data-v-5915f69c="" class="glide__slide glide__slide--active" style="width: 106.8px; margin-right: 5px;">
    
        <div class="kk">
            <div class="dt">
            <img src="../../assets/images/BTP/icons8-notepad-48.png">
            </div>
            <div class="msg">Blog</div>
            
            
            </div>
            
       
    </li>
    
    
    
    
    </ul>
    
    
    </div>