.hm-gradient {
    background-image: linear-gradient(to top, #ecc0c8 0%, #e3eeff 45%, #b9c8df 65%);
    background-size: cover;
    width: 150%;
    height: 150%;
   
}


.bottom{

    padding-left: 29%;
    padding-top: 600px;
   }