



   
<div class="form-group ">
    <div class="opop">
    <label class="font-weight-bold" for="surfaceTotale">
        <div class="h5 text-dark">Cout estimatif.. :  </div>
   
    </label>
  
    <div class="input-group">
        <input id="count" data-testid="total" class="sc-AxgMl AWIFW form-control text-dark text-right" 
            min="0" max="9007199254740991" type="text" name="count" value="{{count}}" class="form-control" 
            >
          
              

    </div>
    </div>
<!-- 
    <button class='btn btn-primary' (click)="valueChanged()">Click me</button>  -->
  </div>


