.cuisine{
    padding-right:10%;
    width: 550px;
    height: 460px;
}

.kiki{
    width: 30%;
}


.jojo{
    width: 30%;
    height: 50%;
}

.list-group-item{
    width: 480px;
}


.opop{

    padding-left: 250px;
}
img {
    background: 0pc;
    width: 500px;
    height: 700px;
    vertical-align: middle;
    border-style: none;
}
.droite{
    padding-left: 230px;
    // padding-top: 10px;
}

