<html>

<body data-spy="scroll" data-target="#navbar-example">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html"><span>B</span>TP Brain</a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Accueil</a></li>
                    <li><a href="bloog">A propos</a></li>
                    <!-- <li><a href="#services">Services</a></li> -->
                    <li><a href="#team">Equipe</a></li>
                    <!-- <li><a href="#portfolio">Portfolio</a></li> -->
                    <li><a href="propos">Blog</a></li>
                    <li class="drop-down"><a href=""> Services</a>
                        <ul>
                            <li class="drop-down"><a href="#">Devis Personalisé</a>
                                <ul>
                                    <li><a href="Devis">Devis Express</a></li>
                                    <li><a href="#">Devis Detaillé</a></li>
                                </ul>
                            </li>
                            <li class="drop-down"><a href="#">Construction </a>
                                <ul>
                                    <li><a href="#">Genie Civil</a></li>
                                    <li><a href="#">Genie Fluides</a></li>
                                    <li><a href="#">Finition</a></li>

                                </ul>
                            </li>
                            <li><a href="#">Prise des Rendez-vous</a></li>
                       
                        </ul>
                    </li>


                    <li><a [routerLink]="['/connexion']" routerLinkActive="router-link-active">Connexion</a> </li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>

    </header><!-- End Header -->









    
    <!-- ======= Slider Section ======= -->
    <div id="home" class="slider-area">

        <ngb-carousel>

            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/img/slider/house3 (1).jpg" alt="Random first slide">
                </div>

                <div class="carousel-caption">
                    <div class="caption">
                        <h2 class="mai">Votre maison de demain passe entre nos belles mains </h2>
                        <div class="btpro"><button type="button" class="btn-round-lg btn-lg"
                                [routerLink]="['/signuppro']" routerLinkActive="router-link-active">
                                <div class="tt">Espace professionnel </div>
                            </button></div>
                    </div>



                    <h2>Maison a Mahdia crée par notre groupe</h2>
                </div>
            </ng-template>
            <ng-template ngbSlide>


                <div class="picsum-img-wrapper">

                    <img src="../../assets/images/BTP/waw.jpg" alt="Random second slide">
                </div>

                <div class="carousel-caption">
                    <div class="caption">
                        <h2 class="mai">Votre maison de demain passe entre nos belles mains </h2>
                        <div class="btpro"><button type="button" class="btn-round-lg btn-lg"
                                [routerLink]="['/extension']" routerLinkActive="router-link-active">
                                <div class="tt">Espace professionnel </div>
                            </button></div>
                    </div>

                    <h2>Chalet Sidi Dhrif</h2>
                </div>
            </ng-template>

            <!-- <ng-template ngbSlide>

                <div class="picsum-img-wrapper">
                  <img src="../../assets/images/BTP/acc.webp" alt="Random second slide">
                </div>
           
                <div class="carousel-caption">
                    <div class="caption"><h2 class="main2">Votre maison de demain passe entre nos belles mains </h2></div>
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </ng-template>
 -->

            <ng-template ngbSlide>

                <div class="picsum-img-wrapper">

                    <img src="../../assets/images/BTP/mais.jpg" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <div class="caption">
                        <h2 class="mai">Votre maison de demain passe entre nos belles mains </h2>
                        <div class="btpro"><button type="button" class="btn-round-lg btn-lg"
                                [routerLink]="['/extension']" routerLinkActive="router-link-active">
                                <div class="tt">Espace professionnel </div>
                            </button></div>
                    </div>

                    <h2>Maison d'hote Sidi Bousaid</h2>
                </div>
            </ng-template>


        </ngb-carousel>


    </div><!-- End Slider -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <div id="aboutttt" class="about-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>A Propos BTP Brain</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well start-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="#">
                                    <img src="assets/img/about/1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">
                                <a href="#">
                                    <h4 class="sec-head">Construction des batiments</h4>
                                </a>
                                <p>
                                    Avec une experience de plus de 20 ans dans le domaine de genie civil,et grace a des
                                    expert bien choisi,
                                    notre Societé vous offre l'apportuinité de participer a la conception,vivre avec
                                    nous les etapes de construction de votre projet afin de vivre un luxe tout en
                                    prenons en considerations les tarifs detaillées la possibilité de faciliter le
                                    monatant par des tranches!
                                </p>
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i> Offrir des devis En temps reel
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Des experts vous accompagne tout au long du projet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Varieté des choix de chaque article
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Suivie de votre projets en temps reel
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Des produit de qualité
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End col-->
                </div>
            </div>
        </div><!-- End About Section -->

        <!-- ======= Services Section ======= -->



        <div id="services" class="services-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline services-head text-center">
                            <h2>Nos Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <!-- Start Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" >
                                        <i class="fa fa-code"></i>
                                    </a>
                                    <h4>Fondation profonde</h4>
                                    <p>
                                        Les fondations profondes (fondations sur pieux, essentiellement) sont celles qui
                                        permettent de reporter les charges dues à la construction qu'elles supportent
                                        sur des couches situées depuis la surface jusqu'à une profondeur variant de
                                        quelques mètres à plusieurs dizaines de mètres
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" >
                                        <i class="fa fa-camera-retro"></i>
                                    </a>
                                    <h4>Peinture</h4>
                                    <p>
                                        Terre d'Argile, couleur de l'année 2021 par Dulux Valentine, du rose sous diverses nuances, du bleu foncé, de l'orange ou du jaune, pour dynamiser l'ambiance, et même du noir pour le classique chic... On ose la couleur sur les murs de son salon : quelques coups de peinture suffiront à redonner bonne mine à cette pièce à vivre, tout en structurant les espaces. 
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-wordpress"></i>
                                    </a>
                                    <h4>Carrelage</h4>
                                    <p>
                                        Le carrelage mural et la faïence murale sont deux solutions idéales pour préserver
                                         et embellir les pièces d'eau. Poser dans la salle de bains ou même dans ...
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-camera-retro"></i>
                                    </a>
                                    <h4>Climatisation </h4>
                                    <p>
                                        La climatisation permet de maintenir le confort et les caractéristiques de l'air ambiant dans des valeurs de température, d'humidité et de qualité de l'air pour le ressenti humain ou pour maintenir un process (exemple climatisation de datacenters). Dans des conditions plus simple de confort où seul un abaissement de la température ambiante est requis, sans traitement de l'humidité ambiante, nous parlerons plus de « rafraîchissement ».
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-bar-chart"></i>
                                    </a>
                                    <h4>Securité</h4>
                                    <p>
                                        Vous trouverez ici un large choix de caméra de vidéosurveillance.
Nos caméras sont de qualité professionnelle. Les marques que nous vous proposons figurent parmi les leaders en vidéosurveillance.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-ticket"></i>
                                    </a>
                                    <h4>24/7 Support</h4>
                                    <p>
                                        Chez BTP Brain, nous sommes à la hauteur de notre nom. Que ce soit pour une assistance sur site, un support technique ou une assistance à distance, Source est là pour assurer le succès de nos clients et la productivité commerciale des utilisateurs finaux. Nous proposons des options d'assistance à la demande fiables, notamment une assistance technique et à distance 24h/24 et 7j/7 et une assistance mondiale sur site dans les 4 heures et le jour ouvrable suivant
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Services Section -->

        <!-- ======= Skills Section ======= -->
        <!-- <div class="our-skill-area fix hidden-sm">
            <div class="test-overly"></div>
            <div class="skill-bg area-padding-2">
                <div class="container"> -->
        <!-- section-heading end -->
        <!-- <div class="row"> -->
        <!-- single-skill start -->
        <!-- <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="95" data-linecap="round"
                                        data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20"
                                        data-readonly="true" disabled>
                                    <h3 class="progress-h4">Web Design</h3>
                                </div>
                            </div>
                        </div> -->
        <!-- single-skill end -->
        <!-- single-skill start -->
        <!-- <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="85" data-linecap="round"
                                        data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20"
                                        data-readonly="true" disabled>
                                    <h3 class="progress-h4">Graphics Design</h3>
                                </div>
                            </div>
                        </div> -->
        <!-- single-skill end -->
        <!-- single-skill start -->
        <!-- <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="75" data-linecap="round"
                                        data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20"
                                        data-readonly="true" disabled>
                                    <h3 class="progress-h4">Php Developer</h3>
                                </div>
                            </div>
                        </div> -->
        <!-- single-skill end -->
        <!-- single-skill start -->
        <!-- <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="65" data-linecap="round"
                                        data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20"
                                        data-readonly="true" disabled>
                                    <h3 class="progress-h4">Java Script</h3>
                                </div>
                            </div>
                        </div> -->
        <!-- single-skill end -->
        <!-- </div>
                </div>
            </div>
        </div> -->
        <!-- End Skills Section -->

        <!-- ======= Team Section ======= -->
        <!-- <div id="team" class="our-team-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Notre Team</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/1.jpg" alt="">
                                </a>
                                <div class="team-social-icon text-center">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Jhon Mickel</h4>
                                <p>Seo</p>
                            </div>
                        </div>
                    </div> -->
        <!-- End column -->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/2.jpg" alt="">
                                </a>
                                <div class="team-social-icon text-center">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Andrew Arnold</h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div> -->
        <!-- End column -->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/3.jpg" alt="">
                                </a>
                                <div class="team-social-icon text-center">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Lellien Linda</h4>
                                <p>Web Design</p>
                            </div>
                        </div>
                    </div> -->
        <!-- End column -->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/4.jpg" alt="">
                                </a>
                                <div class="team-social-icon text-center">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Jhon Powel</h4>
                                <p>Seo Expert</p>
                            </div>
                        </div>
                    </div> -->
        <!-- End column -->
        <!-- </div>
            </div> -->
        <!-- </div> -->
        <!-- End Team Section -->

        <!-- ======= Rviews Section ======= -->
        <div class="reviews-area">
            <div class="row no-gutters">
                <div class="col-lg-6 py-0">
                    <img src="assets/img/about/33.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 work-right-text d-flex align-items-center">
                    <div class="px-5 py-5 py-lg-0">
                        <!-- <h2>working with us</h2> -->
                        <h2>Vous envisagez de devenir propriétaires de votre résidence principale !!</h2>
                        <br>
                        <h5> Pour vous donner une idée du budget que vous devez prévoir pour une maison neuve,
                            <!-- retrouvez ci-dessous un exemple de devis pour la construction d’une maison individuelle. </h5> -->

                            Cliquez-içi
                        </h5>
                        <a class="ready-btn scrollto" [routerLink]="['/Devis']"
                            routerLinkActive="router-link-active">Vite un devis </a>

                    </div>
                </div>
            </div>
        </div><!-- End Rviews Section -->

        <!-- ======= Portfolio Section ======= -->
        <div id="portfolio" class="portfolio-area area-padding fix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Notre Portfolio</h2>
                        </div>
                    </div>
                </div>
                <div class="row wesome-project-1 fix">
                    <!-- Start Portfolio -page -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="awesome-menu ">
                            <ul class="project-menu">
                                <li>
                                    <a href="#" class="active" data-filter="*">All</a>
                                </li>
                                <li>
                                    <a href="#" data-filter=".development">Beton armé</a>
                                </li>
                                <li>
                                    <a href="#" data-filter=".design">Menuiserie</a>
                                </li>
                                <li>
                                    <a href="#" data-filter=".photo">Finition</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row awesome-project-content">
                    <!-- single-awesome-project start -->
                    <div class="col-md-4 col-sm-4 col-xs-12 design development">
                        <div class="single-awesome-project">
                            <div class="awesome-img">
                                <a href="#"><img src="assets/img/portfolio/7.jpg" alt="" /></a>
                                <div class="add-actions text-center">
                                    <div class="project-dec">
                                        <a class="venobox" data-gall="myGallery" href="assets/img/portfolio/7.jpg">
                                            <h4>Fondation</h4>
                                            <span>Enduit</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                    <!-- single-awesome-project start -->
                    <div class="col-md-4 col-sm-4 col-xs-12 photo">
                        <div class="single-awesome-project">
                            <div class="awesome-img">
                                <a href="#"><img src="assets/img/portfolio/2.jpg" alt="" /></a>
                                <div class="add-actions text-center">
                                    <div class="project-dec">
                                        <a class="venobox" data-gall="myGallery" href="assets/img/portfolio/2.jpg">
                                            <h4>Menuiserie</h4>
                                            <span>Bois Rouge</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                    <!-- single-awesome-project start -->
                    <div class="col-md-4 col-sm-4 col-xs-12 design">
                        <div class="single-awesome-project">
                            <div class="awesome-img">
                                <a href="#"><img src="assets/img/portfolio/3.jpg" alt="" /></a>
                                <div class="add-actions text-center">
                                    <div class="project-dec">
                                        <a class="venobox" data-gall="myGallery" href="assets/img/portfolio/3.jpg">
                                            <h4>Carrelage</h4>
                                            <span>Marbre</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                    <!-- single-awesome-project start -->
                    <div class="col-md-4 col-sm-4 col-xs-12 photo development">
                        <div class="single-awesome-project">
                            <div class="awesome-img">
                                <a href="#"><img src="assets/img/portfolio/4.jpg" alt="" /></a>
                                <div class="add-actions text-center">
                                    <div class="project-dec">
                                        <a class="venobox" data-gall="myGallery" href="assets/img/portfolio/4.jpg">
                                            <h4>Finition</h4>
                                            <span>piscine</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                    <!-- single-awesome-project start -->
                    <div class="col-md-4 col-sm-4 col-xs-12 development">
                        <div class="single-awesome-project">
                            <div class="awesome-img">
                                <a href="#"><img src="assets/img/portfolio/5.jpg" alt="" /></a>
                                <div class="add-actions text-center text-center">
                                    <div class="project-dec">
                                        <a class="venobox" data-gall="myGallery" href="assets/img/portfolio/5.jpg">
                                            <h4>Electricité</h4>
                                            <span>Surveillance generale</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                    <!-- single-awesome-project start -->
                    <div class="col-md-4 col-sm-4 col-xs-12 design photo">
                        <div class="single-awesome-project">
                            <div class="awesome-img">
                                <a href="#"><img src="assets/img/portfolio/6.jpg" alt="" /></a>
                                <div class="add-actions text-center">
                                    <div class="project-dec">
                                        <a class="venobox" data-gall="myGallery" href="assets/img/portfolio/6.jpg">
                                            <h4>Peinture</h4>
                                            <span>teinte a l'eau</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                </div>
            </div>
        </div><!-- End Portfolio Section -->

        <!-- ======= Pricing Section ======= -->
        <!-- <div id="pricing" class="pricing-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Pricing Table</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pri_table_list">
                            <h3>basic <br /> <span>$80 / month</span></h3>
                            <ol>
                                <li class="check">Online system</li>
                                <li class="check cross">Full access</li>
                                <li class="check">Free apps</li>
                                <li class="check">Multiple slider</li>
                                <li class="check cross">Free domin</li>
                                <li class="check cross">Support unlimited</li>
                                <li class="check">Payment online</li>
                                <li class="check cross">Cash back</li>
                            </ol>
                            <button>sign up now</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pri_table_list active">
                            <span class="saleon">top sale</span>
                            <h3>standard <br /> <span>$110 / month</span></h3>
                            <ol>
                                <li class="check">Online system</li>
                                <li class="check">Full access</li>
                                <li class="check">Free apps</li>
                                <li class="check">Multiple slider</li>
                                <li class="check cross">Free domin</li>
                                <li class="check">Support unlimited</li>
                                <li class="check">Payment online</li>
                                <li class="check cross">Cash back</li>
                            </ol>
                            <button>sign up now</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pri_table_list">
                            <h3>premium <br /> <span>$150 / month</span></h3>
                            <ol>
                                <li class="check">Online system</li>
                                <li class="check">Full access</li>
                                <li class="check">Free apps</li>
                                <li class="check">Multiple slider</li>
                                <li class="check">Free domin</li>
                                <li class="check">Support unlimited</li>
                                <li class="check">Payment online</li>
                                <li class="check">Cash back</li>
                            </ol>
                            <button>sign up now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- End Pricing Section -->

        <!-- ======= Testimonials Section ======= -->
        <div class="testimonials-area">
            <div class="testi-inner area-padding">
                <div class="testi-overly"></div>
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- Start testimonials Start -->
                            <div class="testimonial-content text-center">
                                <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
                                <!-- start testimonial carousel -->
                                <div class="owl-carousel testimonial-carousel">
                                    <div class="single-testi">
                                        <div class="testi-text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar
                                                luctus est eget congue.<br>consectetur adipiscing elit. Sed pulvinar
                                                luctus est eget congue.
                                            </p>
                                            <h6>Boby</h6>
                                        </div>
                                    </div>
                                    <!-- End single item -->
                                    <div class="single-testi">
                                        <div class="testi-text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar
                                                luctus est eget congue.<br>consectetur adipiscing elit. Sed pulvinar
                                                luctus est eget congue.
                                            </p>
                                            <h6>Jhon</h6>
                                        </div>
                                    </div>
                                    <!-- End single item -->
                                    <div class="single-testi">
                                        <div class="testi-text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar
                                                luctus est eget congue.<br>consectetur adipiscing elit. Sed pulvinar
                                                luctus est eget congue.
                                            </p>
                                            <h6>Fleming</h6>
                                        </div>
                                    </div>
                                    <!-- End single item -->
                                </div>
                            </div>
                            <!-- End testimonials end -->
                        </div>
                        <!-- End Right Feature -->
                    </div>
                </div>
            </div>
        </div><!-- End Testimonials Section -->

       

        <!-- ======= Suscribe Section ======= -->
        <div class="suscribe-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                        <div class="suscribe-text text-center">
                            <div class="section-headline text-center">
                                <h2> <a routerLinkActive="router-link-active">Nous Contacter</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Suscribe Section -->

        <!-- ======= Contact Section ======= -->
        <div id="contact" class="contact-area">
            <div class="contact-inner area-padding">
                <div class="contact-overly"></div>
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <!-- <h2>  <a   routerLinkActive="router-link-active" >Nous Contacter</a></h2>  -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="fa fa-mobile"></i>
                                    <p>
                                        Tel: +216 36 548 765<br>
                                        <span>Lundi-Jeudi (9am-5pm)</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="fa fa-envelope-o"></i>
                                    <p>
                                        Email: Btp@gmail.com<br>
                                        <span>Web: www.brainconsulting.com</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="fa fa-map-marker"></i>
                                    <p>
                                        Location: 1915 Rue Huron Lac1<br>
                                        <span>Berges de lac, Tunisie</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Start Google Map -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!-- Start Map -->
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
                                width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <!-- End Map -->
                        </div>
                        <!-- End Google Map -->

                        <!-- Start  contact -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form contact-form">
                                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name"
                                            placeholder="Votre Nom" data-rule="minlen:4"
                                            data-msg="Please enter at least 4 chars" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Votre Email" data-rule="email"
                                            data-msg="Please enter a valid email" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Sujet" data-rule="minlen:4"
                                            data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                                            data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validate"></div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="text-center"><button clic=dhia() type="submit">Envoyez le Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Left contact -->
                    </div>
                </div>
            </div>
        </div><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <h2><span>BTP</span>Brain</h2>
                                </div>

                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Informations</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                                <div class="footer-contacts">
                                    <p><span>Tel:</span> +216 456 789 57</p>
                                    <p><span>Email:</span> BTP@gmail.com</p>
                                    <p><span>Heures de Travail:</span> 9am-5pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Instagram</h4>
                                <div class="flicker-img">
                                    <a href="#"><img src="assets/img/portfolio/1.jpg" alt=""></a>
                                    <a href="#"><img src="assets/img/portfolio/2.jpg" alt=""></a>
                                    <a href="#"><img src="assets/img/portfolio/3.jpg" alt=""></a>
                                    <a href="#"><img src="assets/img/portfolio/4.jpg" alt=""></a>
                                    <a href="#"><img src="assets/img/portfolio/5.jpg" alt=""></a>
                                    <a href="#"><img src="assets/img/portfolio/6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright text-center">
                            <p>
                                &copy; Copyright <strong>Sassi Dhia & Sahli Lina</strong>. Tous droits réservés
                            </p>
                        </div>
                        <div class="credits">
                            <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->
                            Designed by <a href="https://bootstrapmade.com/">Brain Consulting</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>
<!-- <app-new></app-new> -->


</html>