<!-- Cette Vue est dédiée à afficher la liste des professionnels par l'Admin


  <table class="table table-striped table-bordered table-m row-border hover" datatable [dtOptions]="dtOptions">

          <thead>
          <tr>
            <th>lastname</th>
            <th>firstname</th>
            <th>statut</th>
            <th>Actions</th>
           
          </tr>
          </thead>
          <tbody>
  
  
          <tr *ngFor="let us of listusers.data">
            <td>{{us.lastname}}</td>
            <td>{{us.firstname}}</td>
            <td>{{us.statut}}</td>
          <td>
          <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Decliner</button>
         
             <button class="btn btn-success btn-xs" #us  (click)="updateC(us)"><span class="glyphicon glyphicon-remove"></span> Approuver</button>
          
          </td>
           
          
  
          </tbody>
       



</table> -->