<style>
    
    .title {
color: white;
        position: -ms-page;
        font-size: large;
        font-weight: bold;
        margin-left: 190px;
        margin-top: 40px;
        font-size: 2.5em; 
    }
    .h3{
    font-weight: bold;
    /* size:8px;  */
    font-size: 1.3em; 
    padding-top: 10%;
    /* padding-left: 2px; */
}
.my{
    font-weight: bold;
    color: black;
    font-size: bold;
    font-size: 1.7em; 
    padding-top: 10%;
    /* padding-left: 2px; */
}
.myy{
    font-weight: bold;
    color: black;
    font-size: bold;
    font-size: 1.7em; 
    /* padding-top: 5%; */
    /* padding-left: 2px; */
}

    .main {
   
        position: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        border-color: orangered;
        border-width: 1em;
        background: url('../../assets/img/about/vv.jpg') ;
    }
    .kaka{
        height:560px;
        margin-top: 10%;
        margin-left: 30px;
        margin-right:52%;
        background-color: rgb(255, 255, 255);
        
        border: outset rgb(95, 192, 192);
        border-color: rgb(22, 139, 185);
        border-width: 0.4em; 
    }
  
    </style>
  
  <body data-spy="scroll" data-target="#navbar-example">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">
  
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html"><span>B</span>TP Brain</a></h1>
            </div>
  
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Home</a></li>
                    <li><a href="#aboutttt">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li class="drop-down"><a href="">Drop Down</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="drop-down"><a href="#">Drop Down 2</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
  
                </ul>
            </nav><!-- .nav-menu -->
  
        </div>
        <h2 class="title">Sign up as Professional</h2> 
      </header>
      <div class="main">
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="kaka" >
 
      <mat-step >
        <form [formGroup]="identityFormGroup">
          <ng-template matStepLabel><div class="my">Identity</div></ng-template>
          <mat-form-field>
                      <mat-label class="h3" >Name</mat-label>
                      <input matInput placeholder="Last name, First name" required  [ngModelOptions]="{standalone: true}" name="lastname"
                      [(ngModel)]="lastname" #last="ngModel" 
                      type="text"
  
                      maxlength="32"
                      minlength="3"
  
                      pattern="[A-Za-z0-9\-_\-.]{3,32}"/>
                      <div class="alert alert-danger" *ngIf="last.invalid && last.touched">
                        <div *ngIf="last.errors.required">Lastname is required</div>
                        <div *ngIf="last.errors.pattern"> Invalid lastname </div>
                      </div>
  
  
          </mat-form-field>
    <br>
      <mat-form-field>
          <mat-label>Firstname</mat-label>
  
          <input  matInput placeholder="firstname" required name="firstname" [(ngModel)]="firstname" #lastt="ngModel"   [ngModelOptions]="{standalone: true}"
  
          maxlength="32"
          minlength="3"
          pattern="[A-Za-z0-9\-_\-.]{3,32}"/>
          <div class="alert alert-danger" *ngIf="lastt.invalid && lastt.touched">
            <div *ngIf="lastt.errors.required">Firstname is required</div>
            <div *ngIf="lastt.errors.pattern"> Invalid firstname </div>
          </div>
  
      </mat-form-field>
  
  
  
  
  <br>
  <mat-form-field>
  
  <mat-label>Number</mat-label>
  <input  matInput placeholder="21623558138" required name="number"  [(ngModel)]="number" #nb="ngModel"  [ngModelOptions]="{standalone: true}"
  type="text"
  maxlength="11"
  minlength="11"
  
  pattern="^[+216][0-9]{10}"/>
  <div class="alert alert-danger" *ngIf="nb.invalid && nb.touched">
    <div *ngIf="nb.errors.required">Phone number is required</div>
    <div *ngIf="nb.errors.pattern"> Invalid phone number </div>
  </div>
  
  
  </mat-form-field>
  
  <br>
  <mat-form-field>
  <mat-label>datedenaissance</mat-label>
  <input matInput placeholder="11/04/1997" required  [(ngModel)]="datedenaissance"  [ngModelOptions]="{standalone: true}" id="datedenaissance" type="date" ngModel  name="datedenaissance">
  </mat-form-field>
  
  
  <div>
      <button mat-button matStepperNext>Next</button>
  
    </div>
  
        </form>
      </mat-step>
  
  
  
  
  
  
  
  
      <mat-step >
  
  
        <form [formGroup]="addressFormGroup">
            <ng-template matStepLabel><div class="myy">Fill out your coordinates</div> </ng-template>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput  placeholder="address" name="address"  [(ngModel)]="address"  [ngModelOptions]="{standalone: true}"
                   required>
          </mat-form-field>
  <br>
  
  
        <mat-form-field>
          <mat-label>Registration number</mat-label>
          <input matInput  placeholder="registration number" name="registration" [(ngModel)]="registration"  [ngModelOptions]="{standalone: true}"
                 required>
        </mat-form-field>
  <br>
  
        <mat-form-field>
          <mat-label>Postal code</mat-label>
          <input matInput  placeholder="Postal code" name="postal" [(ngModel)]="postal"  [ngModelOptions]="{standalone: true}"
                 required>
        </mat-form-field>
  
        <br>
  
  <mat-form-field>
          <mat-label>Company</mat-label>
      <input matInput  placeholder="company" name="company" required  [(ngModel)]="company"  [ngModelOptions]="{standalone: true}">
  
        </mat-form-field>
  
        <br>
  
  <mat-form-field>
          <mat-label>Bank Identifier Code (BIC)</mat-label>
      <input matInput  placeholder="bic" name="bic" required  [(ngModel)]="bic" [ngModelOptions]="{standalone: true}">
  
        </mat-form-field>
  
  
  
  
          <div>
  
            <button mat-button matStepperNext>Next</button>
          </div>
  
        </form>
      </mat-step>
  
  
  
  
  
  
  
      <mat-step>
           <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel><div class="myy">Fill in your profile</div></ng-template>
        <p>You are now done.</p>
        <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email"  name="email"[(ngModel)]="email"  [ngModelOptions]="{standalone: true}" required #t="ngModel" 
          type="email"
          pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$'
        />
        <div class="alert alert-danger" *ngIf="t.invalid && t.touched">
          <div *ngIf="t.errors.required">Email is required</div>
          <div *ngIf="t.errors.pattern"> Invalid Email </div>
        </div>
  
    </mat-form-field>
    <br>
  <mat-form-field>
  
      <mat-label>password</mat-label>
  <input matInput placeholder="password" name="password"  [(ngModel)]="password" #p="ngModel" [ngModelOptions]="{standalone: true}" required  type="password" ngModel>
  
  
  
  </mat-form-field>
  
  <br>  
  <mat-form-field>
  
  
      <mat-label>Confirm your password</mat-label>
  <input matInput placeholder="retype your password" name="plainTextPassword"  [(ngModel)]="plainTextPassword"  [ngModelOptions]="{standalone: true}" required id="p" type="password" ngModel>
  </mat-form-field>
  
  <div class="center">
    <button mat-button (click)="add()" [routerLink]="['/admin']" routerLinkActive="router-link-active"  class="btn btn-danger">Envoyer</button>
       </div>
  
       </form>
  
  
      </mat-step>
      
  </mat-horizontal-stepper>
</div>