
<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
    <div class="et_pb_row et_pb_row_0">
      <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
        <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_dark">
          <div class="et_pb_text_inner">
            <h2 class="main2">Bienvenue dans Blog BTP Brain</h2>
            <p>&nbsp;</p>
          </div>
        </div> <!-- .et_pb_text -->

      </div> <!-- .et_pb_column -->

    </div> <!-- .et_pb_row -->
    <h2 class="main1">Avec BtP Brain,accrochez vos ceintures et restez a jour </h2>
  </div>
 <!-- ======= Blog Section ======= -->
 <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Dernieres Actualités</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Left Blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">13 comments</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Les Avantages et les Bénéfices de la Construction de Maisons Neuves</a>
                            </h4>
                            <p>
                                À l'heure actuelle, il y a probablement une douzaine de choses que vous aimeriez pouvoir changer
                                 dans votre maison actuelle. En fait, la principale raison pour laquelle les propriétaires déménagent
                                  est liée 
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Voir Plus</a>
                        </span>
                    </div>
                    <!-- Start single blog -->
                </div>
                <!-- End Left Blog-->
                <!-- Start Left Blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">130 comments</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">
                                    Hypothèques FHA et VA - Quelle est la Différence ?</a>
                            </h4>
                            <p>
                                FHA Mortgages are also insured by the US Government by the Federal Housing Administration. The FHA was created by the National Housing Act of 1934. The FHA sets standards for construction and underwriting and insures loans made by banks and other lenders
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Voir Plus</a>
                        </span>
                    </div>
                    <!-- Start single blog -->
                </div>
                <!-- End Left Blog-->
                <!-- Start Right Blog-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">10 comments</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">La Valeur De la Construction de Maisons Neuves</a>
                            </h4>
                            <p>
                                La construction d'une maison neuve offre-t-elle une meilleure valeur qu'une revente? Certains acheteurs qui veulent économiser de l'argent se tournent vers la revente en pensant qu'ils offrent le meilleur rapport qualité-prix, mais ce n'est pas toujours le cas.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Voir Plus</a>
                        </span>
                    </div>
                </div>
                <!-- End Right Blog-->
            </div>
        </div>
    </div>
</div><!-- End Blog Section -->
 <!-- ======= Blog Section ======= -->
 <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
         
            <div class="row">
                <!-- Start Left Blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">13 comments</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Cotes de crédit et hypothèques</a>
                            </h4>
                            <p>
                                L'une des questions les plus fréquemment posées dans le secteur des prêts hypothécaires est de savoir comment la cote de crédit d'un emprunteur affectera son prêt immobilier. Votre pointage de crédit ou votre pointage FICO est un facteur clé pour vous qualifier pour un prêt hypothécaire.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Voir Plus</a>
                        </span>
                    </div>
                    <!-- Start single blog -->
                </div>
                <!-- End Left Blog-->
                <!-- Start Left Blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">130 comments</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Quel est votre style de maison ?</a>
                            </h4>
                            <p>
                                Aujourd'hui, les maisons de style moderne sont très populaires. C'est peut-être parce qu'ils présentent des plans d'étage ouverts et fluides qui laissent entrer beaucoup de lumière
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Voir Plus</a>
                        </span>
                    </div>
                    <!-- Start single blog -->
                </div>
                <!-- End Left Blog-->
                <!-- Start Right Blog-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">10 comments</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Comment choisir le bon revêtement de sol pour votre maison?</a>
                            </h4>
                            <p>
                                Compte tenu de tout cela, il n'est pas surprenant que de nombreuses personnes aient du mal à choisir le meilleur revêtement de sol lorsqu'elles construisent une nouvelle maison. Les suggestions ci-dessous peuvent vous aider à affiner la sélection.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Voir Plus</a>
                        </span>
                    </div>
                </div>
                <!-- End Right Blog-->
            </div>
        </div>
    </div>
</div><!-- End Blog Section -->








 <!-- ======= Footer ======= -->
 <footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2><span>BTP</span>Brain</h2>
                            </div>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> +123 456 789</p>
                                <p><span>Email:</span> contact@example.com</p>
                                <p><span>Working Hours:</span> 9am-5pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="flicker-img">
                                <a href="#"><img src="assets/img/portfolio/1.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/2.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/3.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/4.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/5.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>Sassi Dhia & Sahli Lina</strong>. Tous droits réservés
                        </p>
                    </div>
                    <div class="credits">
                        <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
          -->
                        Designed by <a>Brain Consulting</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->

  <style>
    div.et_pb_section.et_pb_section_0 {
      /* background-position: center; */
      background-position: static;

      background-size: cover;

      background-image: linear-gradient(45deg, rgba(29, 38, 0, 0.85) 0%, rgba(29, 38, 0, 0) 100%), url(https://www.dsm-construction.fr/files/2020/01/news-bg-2000x750.jpg);
      width: 100%;
      height: 60%;
      /* padding-bottom: 40px; */
    }


    label:hover {
      background-color: rgb(131, 204, 250);
    }


    .et_pb_text_inner {
      position: relative;
    }

    .et_pb_column {
      float: left;
      background-size: cover;
      background-position: 50%;
      position: relative;
      z-index: 2;
      min-height: 1px;
    }

    .et_pb_row {
      max-width: 100%;
    }

    .et_pb_section {
      position: relative;
      background-color: #fff;
      /* max-width: 980px; */
    }


    .et_pb_column .et_pb_row_inner,
    .et_pb_row {
      padding: 30px 0;
    }

    .et_pb_row {
      width: 80%;
      max-width: 1080px;
      margin: auto;
      position: relative;
    }

    .footer {
      padding-top: 0%;
    }

    .try {
      /* padding-top:16px */
      margin-top: 50px;

    }

    .mystep {
      /* margin-bottom: 1200px; */
      /* padding-top: 12%; */
      padding-bottom: 15%;
      height: 450%;
      width: 90%;
      padding-left: 9%;


    }

    .titre {
      font-weight: bold;
      font-size: 1.6em;
      padding-top: 20%;

    }

    .titre1 {
      font-weight: bold;
      font-size: 1.6em;
      padding-top: 14%;

    }

    .midd {
      position: center;
      text-align: center;

    }

    /* .fieldset {
    background-color: #CCC;
    max-width: 900x;
    max-height: 120px;
    padding: 10px;
  }


  .f2 {
    background-color: rgb(216, 140, 140);
    max-width: 700px;
    max-height: 240px;
    padding: 45px;
  } */

    .devistap_choix {
      display: inline-block;
      position: relative;
      border: 3px solid #ccc;
      padding: 10px;
      width: 270px;
      margin: 10px 2%;
      text-align: center;
      height: 90px;
      cursor: pointer;
      box-sizing: border-box;
      vertical-align: middle;
      font-size: 90px;
      font-family: QlassikMediumRegular, Roboto, sans-serif;
      border-radius: 5px;
      background: SandyBrown;
      transition: all 0.5s ease;
    }

    .devistap_choix_texte {
      position: absolute;
      display: block;
      text-align: center;
      top: 50%;
      right: 0px;
      left: 0px;
      transform: translateY(-50%);
      padding: 10px;
    }

    .devistap_choix {
      border: 3px solid #dddddd;
      background: #f8f8f8;
    }

    body #vud_mb_js_box .vud_reinitialise .devistap_choix {
      display: inline-block;
      position: relative;
      border: 3px solid #ccc;
      padding: 10px;
      width: 270px;
      margin: 10px 2%;
      text-align: center;
      height: 90px;
      margin: 10px 2%;
      margin-top: 10px;
      margin-right: 2%;
      margin-bottom: 10px;
      margin-left: 2%;
      cursor: pointer;
      box-sizing: border-box;
      vertical-align: middle;
      font-size: 25px;
      font-family: QlassikMediumRegular, Roboto, sans-serif;
      border-radius: 5px;
      background: SandyBrown;
      transition: all 0.5s ease;
    }

    .devistap_choixExt {
      display: inline-block;
      position: relative;
      border: 3px solid DarkKhaki;
      color: rgb(192, 132, 41);
      margin-left: auto;
      margin-right: auto;

      font-size: 120px;
      padding: 10px;
      width: 410px;
      margin: 10px 2%;
      text-align: center;
      height: 110px;
      cursor: pointer;
      box-sizing: border-box;
      vertical-align: middle;

      font-family: QlassikMediumRegular, Roboto, sans-serif;
      border-radius: 5px;
      background:

        rgb(209, 202, 103);
      transition: all 0.5s ease;
    }

    .coor {
      margin-top: 50px;
      padding-left: 350px;
      font-weight: bold;
      font-size: 1.8em;
      color: rgb(192, 132, 41);
    }

    .devistap_choix {
      display: inline-block;
      position: relative;
      border: 3px solid DarkKhaki;
      color: rgb(192, 132, 41);
      margin-left: auto;
      margin-right: auto;

      font-size: 120px;
      padding: 10px;
      width: 270px;
      margin: 10px 2%;
      text-align: center;
      height: 100px;
      cursor: pointer;
      box-sizing: border-box;
      vertical-align: middle;

      font-family: QlassikMediumRegular, Roboto, sans-serif;
      border-radius: 5px;
      background:

        rgb(209, 202, 103);
      transition: all 0.5s ease;
    }

    body #vud_mb_js_box .vud_reinitialise .vud_padding_8 {
      padding: 8px;
    }

    .h2 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;


      font-size: 30px;

    }

    .button {
      padding-left: 230px;
      max-width: 1800x;
      max-height: 500px;
    }

    .h4 {
      text-align: center;
      margin-left: auto;
      /* margin-right: 10px; */
      padding-left: 70px;
      max-width: 900x;
      max-height: 120px;

      font-size: 30px;
    }

    .h3 {
      text-align: center;
      margin-left: auto;
      margin-right: 10px;
      padding-left: 105px;

      font-size: 30px;
    }

    .h1 {
      text-align: center;
      margin-left: auto;
      margin-right: 10px;
      padding-left: 70x;

      font-size: 30px;
    }

    .h5 {
      text-align: center;
      margin-left: auto;
      /* margin-right: 10px; */
      /* margin-left: 40px; */

      font-size: 27px;
    }

    .h6 {
      text-align: center;
      margin-left: 50px;
      /* margin-right: 10px; */
      /* margin-left: 40px; */
      font-size: 27px;
    }

    .main1 {

      color: black;
      font-weight: bold;
      margin-top: 290px;
      text-align: center;
      /* margin-bottom: 70%; */
      /* margin-left: 20px; */
      font-size: 30px;
    }

    .main {
      text-align: center;
      margin-left: auto;
      color: rgb(177, 177, 43);
      font-weight: bold;
      margin-right: 15px;
      /* padding-left: 130px; */

      font-size: 28px;
    }

    .main2 {
      text-align: right;
      color: rgb(255, 255, 255);
      font-weight: bold;
      margin-right: 12px;
      /* padding-top: 58%; */
      margin-top: 160px;
      margin-left: 297px;
      font-size: 42px;
    }


    input[type=text],
    input[type=password] {
      width: 35%;
      padding: 12px 20px;
      margin: 8px 8px;
      display: inline-block;
      border: 1px solid rgb(94, 61, 214);
      box-sizing: border-box;
    }

    .classe1 {
      position: center;
      /* margin-right: 100px; */
      text-align: center;
    }

    button {
      /* background-color: rgb(94, 61, 214); */
      width: 35%;
      color: white;
      padding: 10px 8px;
      margin: 8px;
      border: none;
      cursor: pointer;

    }

    .btt {
      /* background-color: rgb(148, 130, 216); */
      width: 35%;
      color: white;
      padding: 10px 8px;
      margin: 8px;
      border: none;
      cursor: pointer;

    }

    .centrer {
      position: static;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 7%;
      padding-bottom: 15%;
    }

    .title {
      color: rgb(89, 70, 158);
      position: -ms-page;
    }
  </style>