.bb{
    position:center;
    padding-left: 260px;
}

.ll{
    margin-bottom: 10px;
}
.kouka{
    background-color:rgb(200, 200, 248);
}
.style{
    margin-left: 140px;
}
.print{
    color: rgb(127, 127, 189);
}
.maint{
    font-size: large;
    font-weight: bold;
}
.mainto{
    padding-left: 10px;
    color: rgb(115, 165, 211);
    font-size: 1.05rem;
    // font-weight: bold;
}

.maintt{
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;
}