
<form [formGroup]='orderForm' (ngSubmit)='submitForm(orderForm.value)'>
    <!-- value={{item.id}} -->
    <div *ngFor="let item of all">
        <input type="radio" name="categorie" formControlName ="categorie" value={{item.id}} [checked]='true'>{{item.name}}<br>  
    
        
        <!-- <h3> {{ orderForm.value | json }} </h3>  -->
    
        
    </div>  

    
    <!-- <input type="radio" formControlName ="gamme" value="gamme 2">gamme 2<br> -->


    
    <!-- <div *ngFor="let item of items">
    <input type="radio" formControlName ="gamme" value="item.id" >{{item.name}}<br>  
    </div> -->



    <div formArrayName="items"
        *ngFor="let item of formData.controls; let i = index; let c = count">
      <div class="line" [formGroupName]="i">
        <span>{{i+1}} </span>
        <input name="nameservice" formControlName="nameservice" placeholder="Item name">
        
        <!-- <button type="button"
                title="Supprimer la ligne"
                *ngIf="c > 1" 
                (click)="deleteItemLine($event, i)">X</button> -->
      </div>
    </div>
    
    <div class="addbutton">
      <button type="button" (click)="addItem()">Ajouter une ligne</button>
    </div>
    
    <hr>
    
    <button type="submit" (click)="submit2ToServer()">Envoyer</button>
    
    </form>
    <p>Prix total :  {{getTotalPrice()}}</p>
    
    <pre>{{orderForm.value.items | json }}</pre>
    